<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../style.css">
    <!-- Nunito Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
    <!-- Firebase JS SDK -->
    <script src="https://www.gstatic.com/firebasejs/9.1.3/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.1.3/firebase-auth-compat.js"></script>
    <script src="../script/firebase.js"></script>
    <script type="module" src="../script/email.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css"/>
    <title>Email Verification</title>
</head>
<body class="bg-light">
    <div class="container-fluid">
        <div class="col-lg-10 col-md-10 offset-lg-1 offset-md-1 bg-white shadow my-5 border border-primary">
            <div class="p-lg-5 p-md-5 px-3 py-4">
                <div id="verificationForm" style="text-align:center">
                    <h2 class="h2 text-center text-dark mb-3">Email Verification</h2>
                    <div id="firebaseui-auth-container"></div>
                    <p>Please check your email to verify your email address.</p>
                    <a id="resendEmailA" href="#"><p>Resend Email</p></a>
                    <a href="/"><small>Back to Login Page</small></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>