<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/head'); %>
    <title>My Simple Dashboard</title>
</head>
<body class="bg-light">
    <div class="container-fluid">
        <div class="col-lg-10 col-md-10 offset-lg-1 offset-md-1 text-center mt-5 pb-4 text-primary">
            <h1 class="h1">Simple Dashboard</h1>
        </div>
        <div class="col-lg-10 col-md-10 offset-lg-1 offset-md-1 bg-white shadow mb-5 border border-primary">
            <div class="p-lg-5 p-md-5 px-3 py-4">
                <div id="signInForm" style="text-align:center">
                    <h2 class="h2 text-center text-dark mb-3">Sign In</h2>
                    <div class="form-group">
                        <input type="email" class="form-control" id="userSIEmail" onkeyup="checkUserSIEmail()"placeholder="Email adress">
                        <small id="userSIEmailError" class="form-text text-danger" hidden>Please check your login information.</small>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="userSIPassword" onkeyup="checkUserSIPassword()" placeholder="Password">
                        <small id="userSIPasswordError" class="form-text text-danger" hidden>Please check your password.</small>
                    </div>
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-3" onclick="signIn()">Sign In</button>
                    <p>Not a member yet? Become a member: <a href="./views/signup.html"><strong class="text-primary text-uppercase showSignUpForm">Sign Up</strong></a></p>
                    <div id="firebaseui-auth-container"></div>
                    <div id="loader">Loading...</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Custom JavaScript -->
    <script data-main="./server" src="./script/auth.js"></script>
    <script data-main="./server" src="./script/script.js"></script>
</body>
</html> 
