.grid-container {
  display: grid;
  grid-template-columns: 5% 20% 20% 20% 15% 20%;
  border: 1px solid rgba(40, 125, 250, 0.8);
  padding: 2px;
  margin-top: 10px;
}
.grid-item {
  border: 1px solid rgba(40, 125, 250, 0.8);
  padding: 10px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.font-bold {
  font-weight: bold;
}
.color-main {
  color:rgba(40, 125, 250, 0.8);
}
/* Global */
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  #container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .clearfix {
    clear: both;
  }
  
  .hidden {
    display: none;
  }